In [ ]:
import pandas as pd
df = pd.read_csv("/content/titanic.csv")

In [ ]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
print(df.tail())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [ ]:
print(df.isnull().sum())  # Identify missing values

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Get all object-type columns
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

print("Categorical columns:", categorical_cols)

Categorical columns: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [ ]:
#Missing Value Imputation:
import numpy as np
from sklearn.impute import SimpleImputer

# Replace empty strings with NaN in 'Embarked'
df['Embarked'] = df['Embarked'].replace('', np.nan)

# Mode imputation for 'Embarked'
embarked_imputer = SimpleImputer(strategy="most_frequent")
df['Embarked'] = embarked_imputer.fit_transform(df[['Embarked']]).ravel()

# Replace empty strings or '?' with NaN in 'Age'
df['Age'] = df['Age'].replace(['', '?'], np.nan).astype(float)

# Median imputation for 'Age'
age_imputer = SimpleImputer(strategy="median")
df['Age'] = age_imputer.fit_transform(df[['Age']]).ravel()

# Check if there are still missing values
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
#Categorical Feature Encoding:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [ ]:
#One-Hot Encoding
nominal_features = ['Sex', 'Embarked']
nominal_features = [col for col in nominal_features if col in df.columns]

df = pd.get_dummies(df, columns=nominal_features, drop_first=True, dtype=int)

# Convert boolean columns to integers (0 or 1)
bool_columns = ['Sex_male', 'Embarked_Q', 'Embarked_S']

for col in bool_columns:
    df[col] = df[col].astype(int)

# Check the changes
print(df.dtypes)
print(df.head())

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Sex_male         int64
Embarked_Q       int64
Embarked_S       int64
dtype: object
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500   NaN         1           0           1
1          PC 17599  71.2833   C85         0           0           0
2  STON/O2. 3101282   7.9250   NaN         0           0           1
3            113803  53.1000  C123         0           0           1
4            373450   8.0500   NaN         1           0           1

In [ ]:
#  Label Encoding (Ordinal Features)
if 'Deck' in df.columns:
    label_encoder = LabelEncoder()
    df['Deck'] = label_encoder.fit_transform(df['Deck'])

# Check transformed dataset
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500   NaN         1           0           1
1          PC 17599  71.2833   C85         0           0           0
2  STON/O2. 3101282   7.9250   NaN         0           0           1
3            113803  53.1000  C123         0           0           1
4            373450   8.0500   NaN         1           0           1

In [ ]:
# Numerical Feature Scaling / Normalization
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns

# Choose one method: StandardScaler OR MinMaxScaler
scaler = StandardScaler()  # Standardization
# scaler = MinMaxScaler()  # Normalization

df[numerical_features] = scaler.fit_transform(df[numerical_features])

# Check transformed dataset
print(df.dtypes)
print(df.head())

PassengerId    float64
Survived       float64
Pclass         float64
Name            object
Age            float64
SibSp          float64
Parch          float64
Ticket          object
Fare           float64
Cabin           object
Sex_male       float64
Embarked_Q     float64
Embarked_S     float64
dtype: object
   PassengerId  Survived    Pclass  \
0    -1.730108 -0.789272  0.827377
1    -1.726220  1.266990 -1.566107
2    -1.722332  1.266990  0.827377
3    -1.718444  1.266990 -1.566107
4    -1.714556 -0.789272  0.827377

                                                Name       Age     SibSp  \
0                            Braund, Mr. Owen Harris -0.565736  0.432793
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  0.663861  0.432793
2                             Heikkinen, Miss. Laina -0.258337 -0.474545
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.433312  0.432793
4                           Allen, Mr. William Henry  0.433312 -0.474545

      Parch            Ticket      Fare Cabin  Sex_male  Embarked_Q  \
0 -0.473674         A/5 21171 -0.502445   NaN  0.737695   -0.307562
1 -0.473674          PC 17599  0.786845   C85 -1.355574   -0.307562
2 -0.473674  STON/O2. 3101282 -0.488854   NaN -1.355574   -0.307562
3 -0.473674            113803  0.420730  C123 -1.355574   -0.307562
4 -0.473674            373450 -0.486337   NaN  0.737695   -0.307562

   Embarked_S
0    0.615838
1   -1.623803
2    0.615838
3    0.615838
4    0.615838

In [ ]:
#Feature Engineering:
# ===== 1. Title Extraction =====
# Extract title using regex
df['Title'] = df['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)

# Map similar titles
title_mapping = {
    'Mlle': 'Miss',
    'Ms': 'Miss',
    'Mme': 'Mrs',
    'Lady': 'Rare',
    'Countess': 'Rare',
    'Capt': 'Rare',
    'Col': 'Rare',
    'Don': 'Rare',
    'Dr': 'Rare',
    'Major': 'Rare',
    'Rev': 'Rare',
    'Sir': 'Rare',
    'Jonkheer': 'Rare',
    'Dona': 'Rare'
}

df['Title'] = df['Title'].replace(title_mapping)

# ===== 2. Family Size Creation =====
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1  # +1 for self

# Preview new features
print(df[['Name', 'Title', 'SibSp', 'Parch', 'FamilySize']].head())

                                                Name Title  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    Mr      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   Mrs      1      0
2                             Heikkinen, Miss. Laina  Miss      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Mrs      1      0
4                           Allen, Mr. William Henry    Mr      0      0

   FamilySize
0           2
1           2
2           1
3           2
4           1